
@media (min-width: 1200px) {
  .col-xl-1, .social {
    float: left;
    width: 15%;
  }
  .col-xl-4 {
    float: left;
    width: 70%;
  }
}

@media (min-width: 992px) and (max-width: 1199px){
  .col-lg-1, .social {
    float: left;
    width: 12.5%;
  }
  .col-lg-4 {
    float: left;
    width: 75%;
  }
}

  @media (min-width: 768px) and (max-width: 991px) {
    .col-md-2, .social {
    float: left;
    width: 15%;
    }
    .col-md-4 {
    float: left;
    width: 70%;
    }
}

    @media (max-width: 767px) {
    .container-left{
      height: 7%;
      margin-bottom: 2em;
    }

    .col-sm-12 {
      width: 100%;
    }

    .fundalogo {
      width: 15%;
    }

    .login {
      margin-top: -2em;
      float:right;
      width: 15%;
    }

    dt {
      width: 13em;
      float: none;
    }

    dd {
      margin-left: 2em;
    }

    .fa-button-min {
      display: block !important;
      text-align: center;
    }

   .map-style, .favourite, .social, .register {
      display: none;
    }
}
